img.logo {
    width: 50px;
   margin: 10px;
   opacity: 0.8;
   transition: opacity 0.2s ease-in;
}
img.logo:hover {
   opacity: 1;
}

@media screen and (max-width: 575px){
    footer div .border-right{
        border-right: none !important;
    }
    footer div .border-left{
        border-left: none !important;
    }
}