@import "fonts";
body{
    font-family: Rosario, sans-serif;
    background: black;
}
.title{
    font-family: Besom, cursive;
}
p{
    font-size: 1.15em;
}

.slogan{
    font-size: 1.5em;
}

.bg-black{
    background-color: #141414;
}
nav{
    transition: all 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
@import "footer";