@import "fonts";
*{
    box-sizing: border-box;
}

html,
body{
    margin: 0;
    padding: 0;
}

body{
    font-family: Rosario, sans-serif;
    background: black;
    min-height: 100vh;
}
.title{
    font-family: Besom, cursive;
}
    
p{
    font-size: 1.15em;
}

.deco::after{
    content: url(../../public/img/Deco-1.svg);
    display: inline-block;
    width: 150px;
    position: relative;
    bottom: 10px;
    left: 50px;

}

.deco::before{
    content: url(../../public/img/Deco-2.svg);
    display: inline-block;
    width: 150px;
    position: relative;
    bottom: 10px;
    left: -50px;

}

.slogan{
    font-size: 1.5em;
}

.bg-black{
    background-color: black;
}
.copy{
    margin-bottom: 5px;
}
nav{
    transition: all 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

@import "footer";