@import "main";
h1.title{
    font-size: 4rem;
}
.img-fluid{
    cursor: pointer;
}
.popup{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    background: #a7a7a780;
    display: none;
    height: 100%;
    width: 100%;

    img{
        width: 99%;
    }
    
    .close{
        position: absolute;
        top: 20px;
        right: 20px;
    }
}
.popup.active{
    display: flex;
    justify-content: center;
    align-items: center
}

@media screen and (max-width: 1400px){
    .deco::after{
        width: 120px;
    }
    
    .deco::before{
        width: 120px;
    }
    }
@media screen and (max-width: 1125px){
    .deco::after{
        content: none;
    }
    
    .deco::before{
        content: none;
    }
    }
@media screen and (max-width: 767px){
    .deco::after{
        content: url(../../public/img/Deco-1.svg);
        width: 120px;
    }
    
    .deco::before{
        content: url(../../public/img/Deco-2.svg);
        width: 120px;
    }
    }
    
    @media screen and (max-width: 550px){
        .deco::after{
            content: none;
        }
        
        .deco::before{
            content: none;
        }
        }