@import "main";
h1.title{
    font-size: 4rem;
}
.img-fluid{
    cursor: pointer;
}
.popup{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    background: #a7a7a780;
    display: none;
    height: 100%;
    width: 100%;

    img{
        width: 80%;
    }
    
    .close{
        position: absolute;
        top: 30px;
        right: 30px;
        background: white;
        padding: 5px;
        width: 32px;
        border-radius: 5px;
        height: 32px;
        text-align: center;
    }
}
nav.fixed-top{
    position: sticky;
}
nav{
    background: #111111;
}
.img-fluid{
    box-shadow: rgba(43, 43, 43, 0.5) 0px 0px 50px 0px
}

.popup.active{
    display: flex;
    justify-content: center;
    align-items: center
}

@media screen and (max-width: 1400px){
    .deco::after{
        width: 120px;
    }
    
    .deco::before{
        width: 120px;
    }
    }
@media screen and (max-width: 1125px){
    .deco::after{
        content: none;
    }
    
    .deco::before{
        content: none;
    }
    }
@media screen and (max-width: 767px){
    .deco::after{
        content: url(../../public/img/Deco-1.svg);
        width: 120px;
    }
    .popup{
        img{
            width: 100%;
        }
    }
    
    .deco::before{
        content: url(../../public/img/Deco-2.svg);
        width: 120px;
    }
    }
    
    @media screen and (max-width: 550px){
        .deco::after{
            content: none;
        }
        
        .deco::before{
            content: none;
        }
        }