@import "main";
header{
    background: url(../img/visusitev11.jpg) no-repeat left 10% bottom;
    background-size: cover;
    height: 100vh;
}
.bg-forest{
    background: url(../../public/img/forest.jpg) no-repeat;
    background-size: cover;
    box-shadow: inset 0px 0px 200px 150px #050e05, 0px -15px 150px 100px #050e05;
}
h1.title{
    font-size: 7rem;
}

h2.title{
    font-size: 3rem;
}