@import "fonts";
body{
    font-family: Rosario, sans-serif;
}
.title{
    font-family: Besom, cursive;
}

h1.title{
    font-size: 7rem;
}

h2.title{
    font-size: 3rem;
}
header{
    background: url(../img/visusitev11.jpg) no-repeat bottom;
    background-size: cover;
    height: 100vh;
}
p{
    font-size: 1.15em;
}

.slogan{
    font-size: 1.5em;
}
.bg-forest{
    background: url(../../public/img/forest.jpg) no-repeat;
    background-size: cover;
    box-shadow: inset 0px 0px 200px 150px #050e05, 0px -15px 150px 100px #050e05;
}
.bg-black{
    background-color: #141414;
}