@import 'fonts';
@import 'button';
*{
    box-sizing: border-box;
}
html,
body{
    margin: 0;
    padding: 0;
    font-family: Rosario,sans-serif;
}
body{
    background: #000;
}
a:focus{
    outline: rgba(255, 255, 255, 0.212) solid 1.5px;
}
header{
    /*background: #383838;*/
    background: url(../img/loupiotev1.png);
    background-position-x: 20%;
    background-position-y: 75%;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    /*box-shadow: 0 -175px 140px -30px #111111 inset;*/
    padding-bottom: 5%;
    height: 100vh;
    a.retour{
        text-decoration: none;
        font-size: 1.5rem;
    }
    a.button{
        border: none;
    }

    a.retour{
        position: absolute;
        top: 4%;
        left: 3%;
        color: white;
    }
    h1{
        margin-top: 10vh;
        text-align: center;
        font-size: 3rem;
    }
    p{
        width: 50%;
        text-align: center;
        padding: 3% 10px;
    }

    div{
        margin: 5% 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        a{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            img{
                width: 50px;
            }
            p{
                width: 100%;
                margin: 5px;
            }
        }
        
    }
}


section#changelog{
    background: #000;
    padding: 10% 10px;
    color: white;
    

    details{
        max-width: 1024px;
        margin: auto;
        
    :focus{
        outline: rgba(255, 255, 255, 0.212) solid 1.5px;

    }  

        summary{
            text-align: center;
            font-size: 2rem;
        }

    }
}



section#com{
    background-image: url(../../public/img/otherfoest.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 15% 10px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow:  0 90px 100px 10px #000 inset, 0 -175px 140px -30px #000 inset;
    div.error{
        background: rgba(255, 255, 255, 0.09);
        border-radius: 15px;
        color: rgb(255, 198, 198);
        margin: 30px 20px;
        ul{
            padding: 10px 30px;
            li{
            list-style-type: none;
            }
        }
    }
    div.content{
        width: 100%;
        max-width: 900px;
        color: white;
        

        p{
            padding-bottom: 4%;
            
        }

        div.com{
            width: 95%;
            max-width: 900px;
            padding: 10px 30px;
            background: rgba(255, 255, 255, 0.09);
            border-radius: 15px;
            margin: 20px auto;
            color: white;

            h3{
                border-bottom: solid white 1.5px;
                padding: 5px;
                padding-right: 20px;
                display: table-cell;
            }

            em{
                font-size: 0.75rem;
                color: #ffffffaf;
            }
        }
    }
    form{
        max-width: 900px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin: auto;

        h2{
            color: white;
            font-size: 1rem;
            margin: 2px;
        }

        textarea{
            width: 100%;
            height: 100px;
            padding: 10px;
            background: rgba(255, 255, 255, 0);
            border: none;
            border-bottom: solid rgba(255, 255, 255, 0.7) 1.5px; 
            color:white;
            font-family: sans-serif;
        }
        textarea::placeholder{
            color:rgba(255, 255, 255, 0.5);
        }
        textarea:focus{
            outline: rgba(255, 255, 255, 0.212) solid 1.5px;
            
        }
        input:focus{
            outline: rgba(255, 255, 255, 0.212) solid 1.5px;
            
        }

        input{
            margin-bottom: 20px;
            padding: 10px;
            font-size: 1rem;
            color:white;
        }
        input::placeholder{
            color:rgba(255, 255, 255, 0.5);
        }
        input[type=text]{
            background: rgba(255, 255, 255, 0);
            border: none;
            border-bottom: solid rgba(255, 255, 255, 0.7) 1.5px; 
            width: 50%;
            min-width: 200px;
        }

        input[type=submit]{
            align-self: flex-end;
            background: none;
            border: none;
            margin: 20px;
        }

    }



}



@media screen and (max-width: 600px){
    header{
        div{
            a{
            flex-direction: row;
            p{
                margin:0 30px;
            }
            }
        }
    }
}
@import 'footer';