@font-face {
  font-family: "Besom";
  src: url(/fonts/Besom.eot?592ba3bc3705e7ef1478bcd407670fe5);
  /* IE9 Compat Modes */
  src: url(/fonts/Besom.eot?592ba3bc3705e7ef1478bcd407670fe5) format("embedded-opentype"), url(/fonts/Besom.otf?7f3ce3236cfc73992d34a63b3d814b26) format("opentype"), url(/fonts/Besom.svg?afdc61449510b21bd91b90c0511a7546) format("svg"), url(/fonts/Besom.ttf?86b56db5ff46014b749dc4cc49df23d2) format("truetype"), url(/fonts/Besom.woff?4f14141babd2abe272e39ba4fc89632e) format("woff"), url(/fonts/Besom.woff2?9f50c157005932465e7270da8d1e28d1) format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Rosario, sans-serif;
  background: black;
}

.title {
  font-family: Besom, cursive;
}

p {
  font-size: 1.15em;
}

.slogan {
  font-size: 1.5em;
}

.bg-black {
  background-color: #141414;
}

nav {
  -webkit-transition: all 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  transition: all 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

img.logo {
  width: 50px;
  margin: 10px;
  opacity: 0.8;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

img.logo:hover {
  opacity: 1;
}

@media screen and (max-width: 575px) {
  footer div .border-right {
    border-right: none !important;
  }

  footer div .border-left {
    border-left: none !important;
  }
}

h1.title {
  font-size: 4rem;
}

.img-fluid {
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  background: #a7a7a780;
  display: none;
  height: 100%;
  width: 100%;
}

.popup img {
  width: 99%;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.popup.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

