@font-face {
  font-family: "Besom";
  src: url(/fonts/Besom.eot?592ba3bc3705e7ef1478bcd407670fe5);
  /* IE9 Compat Modes */
  src: url(/fonts/Besom.eot?592ba3bc3705e7ef1478bcd407670fe5) format("embedded-opentype"), url(/fonts/Besom.otf?7f3ce3236cfc73992d34a63b3d814b26) format("opentype"), url(/fonts/Besom.svg?afdc61449510b21bd91b90c0511a7546) format("svg"), url(/fonts/Besom.ttf?86b56db5ff46014b749dc4cc49df23d2) format("truetype"), url(/fonts/Besom.woff?4f14141babd2abe272e39ba4fc89632e) format("woff"), url(/fonts/Besom.woff2?9f50c157005932465e7270da8d1e28d1) format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Rosario, sans-serif;
  background: black;
}

.title {
  font-family: Besom, cursive;
}

p {
  font-size: 1.15em;
}

.deco::after {
  content: url(/images/Deco-1.svg?b3c0a74ad48aacc8fd96e52490e0fbb3);
  display: inline-block;
  width: 150px;
  position: relative;
  bottom: 10px;
  left: 50px;
}

.deco::before {
  content: url(/images/Deco-2.svg?5818756cdc0b2be6763c9d7ab609ebd8);
  display: inline-block;
  width: 150px;
  position: relative;
  bottom: 10px;
  left: -50px;
}

.slogan {
  font-size: 1.5em;
}

.bg-black {
  background-color: #141414;
}

nav {
  -webkit-transition: all 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  transition: all 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

img.logo {
  width: 50px;
  margin: 10px;
  opacity: 0.8;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

img.logo:hover {
  opacity: 1;
}

@media screen and (max-width: 575px) {
  footer div .border-right {
    border-right: none !important;
  }

  footer div .border-left {
    border-left: none !important;
  }
}

header {
  background: url(/images/visusitev11.jpg?39793f174cf00ac1ad497714cef9822e) no-repeat left 10% bottom;
  background-size: cover;
  height: 100vh;
}

.bg-forest {
  background: url(/images/forest.jpg?ccb042c10c3b3f7b3f6132c31e5cb551) no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset 0px 0px 200px 150px #050e05, 0px -15px 150px 100px #050e05;
          box-shadow: inset 0px 0px 200px 150px #050e05, 0px -15px 150px 100px #050e05;
}

h1.title {
  font-size: 7rem;
}

h2.title {
  font-size: 3rem;
}

@media screen and (max-width: 800px) {
  .deco::after {
    width: 120px;
  }

  .deco::before {
    width: 120px;
  }
}

@media screen and (max-width: 550px) {
  .deco::after {
    content: none;
  }

  .deco::before {
    content: none;
  }

  .bg-forest {
    -webkit-box-shadow: inset 0px 0px 150px 100px #050e05, 0px -15px 100px 100px #050e05;
            box-shadow: inset 0px 0px 150px 100px #050e05, 0px -15px 100px 100px #050e05;
  }
}

