footer {
  background: #111111;
  color: white;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer div.reseaux {
  width: 50%;
}

footer div.reseaux img {
  width: 50px;
  margin: 10px;
}

footer div.groupe {
  width: 50%;
}

footer div.groupe p,
footer div.groupe H2 {
  text-align: right;
}

@media screen and (max-width: 550px) {
  footer div.reseaux {
    width: 100%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Source Sans Pro,sans-serif;
}

body {
  background: #111111;
  z-index: 1;
}

header {
  height: 105vh;
  background: #383838;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 -175px 140px -30px #111111 inset;
          box-shadow: 0 -175px 140px -30px #111111 inset;
}

header div {
  width: 40%;
  margin: 5%;
  color: white;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div h1 {
  text-align: center;
  font-size: 5rem;
  margin: 0;
}

header div a {
  padding: 10px 50px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

header div a:hover {
  text-decoration: underline;
}

section#pres {
  background: #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 10%;
}

section#pres h2 {
  width: 85%;
  margin: auto;
}

section#pres iframe {
  width: 50vw;
  height: 30vw;
  margin: 2%;
}

section#galery {
  background: #111111;
  padding: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#galery h2 {
  color: white;
  width: 85%;
  margin: auto;
}

section#galery div.contente {
  width: 90%;
  max-width: 1920px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#galery div.contente img {
  width: 20vw;
  min-width: 320px;
  margin: 2%;
  cursor: pointer;
}

section#galery div.popup {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background: rgba(92, 92, 92, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  opacity: 0;
}

section#galery div.popup .close {
  position: absolute;
  top: 20px;
  right: 40px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

section#galery div.popup .close:hover {
  color: #868686;
}

section#galery div.popup img {
  margin: auto;
  width: 70%;
}

section#galery div.popup.active {
  opacity: 1;
  z-index: 2;
}

section#telechargement {
  background: url(/images/forest-02.png?cead0a8d20bd4ed3524cbffc8d621ed5);
  background-repeat: no-repeat;
  background-size: cover;
  /*background-attachment: fixed;*/
  padding: 15% 10px;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-shadow: 0 240px 300px -30px #111111 inset,0 -175px 140px -30px #111111 inset;
          box-shadow: 0 240px 300px -30px #111111 inset,0 -175px 140px -30px #111111 inset;
}

section#telechargement p {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 5%;
}

section#telechargement a {
  font-size: 1.5rem;
  padding: 10px 50px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

section#telechargement a:hover {
  text-decoration: underline;
}

footer {
  background: #111111;
  color: white;
  padding: 5%;
}

@media screen and (max-width: 720px) {
  header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  header div {
    width: 90%;
    text-align: center;
  }

  section#pres iframe {
    width: 90vw;
    height: 50vw;
  }

  section#galery div.contente {
    overflow: hidden;
    max-height: 90vh;
    margin: 40px;
    -webkit-transition: max-height 1s ease-out;
    transition: max-height 1s ease-out;
  }

  section#galery div.contente img {
    width: 70vw;
    min-width: 320px;
    margin: 2%;
  }

  section#galery div.fleche {
    width: 40px;
    height: 40px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    border-right: solid white 4px;
    border-bottom: solid white 4px;
    border-radius: 4px;
    -webkit-transition: -webkit-transform 1s 1s;
    transition: -webkit-transform 1s 1s;
    transition: transform 1s 1s;
    transition: transform 1s 1s, -webkit-transform 1s 1s;
  }

  section#galery div.fleche:hover {
    cursor: pointer;
  }

  section#galery div.contente.active {
    max-height: 1850px;
  }

  section#galery div.contente.active + div.fleche {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }

  section#telechargement p {
    font-size: 1rem;
  }

  section#telechargement a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 450px) {
  section#galery div.contente.active {
    max-height: 1850px;
    -webkit-transition: max-height 1s ease-out;
    transition: max-height 1s ease-out;
  }
}

