@font-face {
  font-family: "Besom";
  src: url(/fonts/Besom.eot?592ba3bc3705e7ef1478bcd407670fe5);
  /* IE9 Compat Modes */
  src: url(/fonts/Besom.eot?592ba3bc3705e7ef1478bcd407670fe5) format("embedded-opentype"), url(/fonts/Besom.otf?7f3ce3236cfc73992d34a63b3d814b26) format("opentype"), url(/fonts/Besom.svg?afdc61449510b21bd91b90c0511a7546) format("svg"), url(/fonts/Besom.ttf?86b56db5ff46014b749dc4cc49df23d2) format("truetype"), url(/fonts/Besom.woff?4f14141babd2abe272e39ba4fc89632e) format("woff"), url(/fonts/Besom.woff2?9f50c157005932465e7270da8d1e28d1) format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

a.button {
  padding: 10px 50px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-decoration: none;
  border: groove 1px white;
  border-radius: 30px;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  text-shadow: 0px 0px 10px #727272;
  -webkit-animation: 1s ease-out alternate infinite blinking-text;
          animation: 1s ease-out alternate infinite blinking-text;
}

a.button span {
  font-size: smaller;
  color: #dbdbdb;
}

a.button:hover {
  opacity: 1;
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes blinking-text {
  0% {
    text-shadow: 0px 0px 80px white;
  }

  100% {
    text-shadow: 0px 0px 40px rgba(255, 255, 255, 0.1);
  }
}

@keyframes blinking-text {
  0% {
    text-shadow: 0px 0px 80px white;
  }

  100% {
    text-shadow: 0px 0px 40px rgba(255, 255, 255, 0.1);
  }
}

@media screen and (max-width: 550px) {
  a.button {
    opacity: 0.9;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Rosario, sans-serif;
}

body {
  background: #111111;
  z-index: 1;
}

header {
  height: 100vh;
  background: url(/images/visusitev11.jpg?39793f174cf00ac1ad497714cef9822e);
  background-attachment: fixed;
  background-size: cover;
  background-position: left bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div {
  width: 35%;
  height: 100%;
  margin: 5%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: 0px 0px 50px black, 0px 0px 30px black, 0px 0px 15px white;
}

header div h1 {
  width: 100%;
  font-size: 7.5rem;
  margin: 0;
  padding: 20% 0 0 5%;
  font-family: "Besom", sans-serif;
  color: #f6f6f6;
  font-weight: normal;
  line-height: 1;
}

header div p {
  padding: 0 5%;
  line-height: 1.5rem;
}

header div a {
  font-size: 1.3rem;
  margin: 0 0 30% 0;
}

section {
  color: white;
}

section h2 {
  font-size: 2rem;
  margin: 20px auto;
  text-shadow: 0px 0px 50px black, 0px 0px 30px black, 0px 0px 15px white;
}

section#pres {
  background: url(/images/visusitev11.jpg?39793f174cf00ac1ad497714cef9822e);
  background-attachment: fixed;
  background-size: cover;
  background-position: left bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5% 5% 0% 5%;
  -webkit-box-shadow: 0 -100vh 100vh -50vh #000000 inset;
          box-shadow: 0 -100vh 100vh -50vh #000000 inset;
}

section#pres iframe {
  width: 50vw;
  height: 30vw;
  margin: 2%;
  -webkit-box-shadow: 0 0 100px 0 black;
          box-shadow: 0 0 100px 0 black;
}

section#pres p {
  text-align: center;
}

section#galery {
  background: #000000;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#galery div.contente {
  width: 90%;
  max-width: 1920px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#galery div.contente img {
  width: 20vw;
  min-width: 320px;
  margin: 2%;
  cursor: pointer;
}

section#galery div.popup {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background: rgba(92, 92, 92, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  opacity: 0;
}

section#galery div.popup .close {
  position: absolute;
  top: 20px;
  right: 40px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

section#galery div.popup .close:hover {
  color: #868686;
}

section#galery div.popup img {
  margin: auto;
  width: 70%;
}

section#galery div.popup.active {
  opacity: 1;
  z-index: 2;
}

section#telechargement {
  background: url(/images/forest.jpg?ccb042c10c3b3f7b3f6132c31e5cb551);
  background-repeat: no-repeat;
  background-size: cover;
  /*background-attachment: fixed;*/
  padding: 10px;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-shadow: 40px 140px 140px -30px #000000 inset, -40px -80px 80px -30px #000000 inset;
          box-shadow: 40px 140px 140px -30px #000000 inset, -40px -80px 80px -30px #000000 inset;
}

section#telechargement p {
  font-size: 1.5rem;
  margin-bottom: 5%;
}

section#telechargement a {
  font-size: 1.5rem;
}

@media screen and (max-width: 720px) {
  header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-attachment: scroll;
    height: auto;
    min-height: 100vh;
  }

  header div {
    width: 90%;
    text-align: center;
  }

  header div h1 {
    padding: 25vh 5% 20vh 5%;
  }

  section#pres {
    background: #000000;
    background-attachment: scroll;
  }

  section#pres iframe {
    width: 90vw;
    height: 50vw;
  }

  section#galery div.contente {
    overflow: hidden;
    max-height: 65vh;
    -webkit-transition: max-height 1s ease-out;
    transition: max-height 1s ease-out;
  }

  section#galery div.contente img {
    width: 70vw;
    min-width: 320px;
    margin: 2%;
  }

  section#galery div.popup img {
    width: 95%;
  }

  section#galery div.fleche {
    width: 40px;
    height: 40px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    border-right: solid white 4px;
    border-bottom: solid white 4px;
    border-radius: 4px;
    -webkit-transition: -webkit-transform 1s 1s;
    transition: -webkit-transform 1s 1s;
    transition: transform 1s 1s;
    transition: transform 1s 1s, -webkit-transform 1s 1s;
  }

  section#galery div.fleche:hover {
    cursor: pointer;
  }

  section#galery div.contente.active {
    max-height: 1850px;
  }

  section#galery div.contente.active div.fleche {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }

  section#telechargement p {
    font-size: 1rem;
  }

  section#telechargement a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 450px) {
  section#galery {
    padding-top: 10%;
  }

  section#galery div.contente.active {
    max-height: 1850px;
    -webkit-transition: max-height 1s ease-out;
    transition: max-height 1s ease-out;
  }

  section#telechargement {
    height: 50vh;
    -webkit-box-shadow: 0 100px 100px -15px #000000 inset, 0 -100px 100px -15px #000000 inset;
            box-shadow: 0 100px 100px -15px #000000 inset, 0 -100px 100px -15px #000000 inset;
  }
}

footer {
  background: #000000;
  color: white;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer div.reseaux {
  width: 50%;
}

footer div.reseaux img {
  width: 50px;
  margin: 10px;
  opacity: 0.8;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

footer div.reseaux img:hover {
  opacity: 1;
}

footer div.reseaux h2 {
  margin: 20px 10px;
}

footer div.groupe {
  width: 50%;
}

footer div.groupe p,
footer div.groupe h2 {
  text-align: right;
}

footer div.groupe p {
  margin: 5px;
  opacity: 0.8;
}

div.copy {
  background: black;
  color: #d8d8d8;
  width: 100%;
  text-align: center;
  padding: 10px 5px;
  font-size: 0.75rem;
}

@media screen and (max-width: 550px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  footer div.reseaux {
    width: initial;
  }

  footer div.reseaux h2 {
    text-align: center;
  }

  footer div.groupe {
    width: 100%;
  }

  footer div.groupe p,
  footer div.groupe h2 {
    text-align: center;
  }
}

