@font-face {
  font-family: "Besom";
  src: url(/fonts/Besom.eot?592ba3bc3705e7ef1478bcd407670fe5);
  /* IE9 Compat Modes */
  src: url(/fonts/Besom.eot?592ba3bc3705e7ef1478bcd407670fe5) format("embedded-opentype"), url(/fonts/Besom.otf?7f3ce3236cfc73992d34a63b3d814b26) format("opentype"), url(/fonts/Besom.svg?afdc61449510b21bd91b90c0511a7546) format("svg"), url(/fonts/Besom.ttf?86b56db5ff46014b749dc4cc49df23d2) format("truetype"), url(/fonts/Besom.woff?4f14141babd2abe272e39ba4fc89632e) format("woff"), url(/fonts/Besom.woff2?9f50c157005932465e7270da8d1e28d1) format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

a.button {
  padding: 10px 50px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-decoration: none;
  border: groove 1px white;
  border-radius: 30px;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  text-shadow: 0px 0px 10px #727272;
  -webkit-animation: 1s ease-out alternate infinite blinking-text;
          animation: 1s ease-out alternate infinite blinking-text;
}

a.button span {
  font-size: smaller;
  color: #dbdbdb;
}

a.button:hover {
  opacity: 1;
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes blinking-text {
  0% {
    text-shadow: 0px 0px 80px white;
  }

  100% {
    text-shadow: 0px 0px 40px rgba(255, 255, 255, 0.1);
  }
}

@keyframes blinking-text {
  0% {
    text-shadow: 0px 0px 80px white;
  }

  100% {
    text-shadow: 0px 0px 40px rgba(255, 255, 255, 0.1);
  }
}

@media screen and (max-width: 550px) {
  a.button {
    opacity: 0.9;
  }
}

@font-face {
  font-family: "Besom";
  src: url(/fonts/Besom.eot?592ba3bc3705e7ef1478bcd407670fe5);
  /* IE9 Compat Modes */
  src: url(/fonts/Besom.eot?592ba3bc3705e7ef1478bcd407670fe5) format("embedded-opentype"), url(/fonts/Besom.otf?7f3ce3236cfc73992d34a63b3d814b26) format("opentype"), url(/fonts/Besom.svg?afdc61449510b21bd91b90c0511a7546) format("svg"), url(/fonts/Besom.ttf?86b56db5ff46014b749dc4cc49df23d2) format("truetype"), url(/fonts/Besom.woff?4f14141babd2abe272e39ba4fc89632e) format("woff"), url(/fonts/Besom.woff2?9f50c157005932465e7270da8d1e28d1) format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Rosario, sans-serif;
  background: black;
  min-height: 100vh;
}

.title {
  font-family: Besom, cursive;
}

p {
  font-size: 1.15em;
}

.deco::after {
  content: url(/images/Deco-1.svg?b3c0a74ad48aacc8fd96e52490e0fbb3);
  display: inline-block;
  width: 150px;
  position: relative;
  bottom: 10px;
  left: 50px;
}

.deco::before {
  content: url(/images/Deco-2.svg?5818756cdc0b2be6763c9d7ab609ebd8);
  display: inline-block;
  width: 150px;
  position: relative;
  bottom: 10px;
  left: -50px;
}

.slogan {
  font-size: 1.5em;
}

.bg-black {
  background-color: black;
}

.copy {
  margin-bottom: 5px;
}

nav {
  -webkit-transition: all 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  transition: all 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

img.logo {
  width: 50px;
  margin: 10px;
  opacity: 0.8;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

img.logo:hover {
  opacity: 1;
}

@media screen and (max-width: 575px) {
  footer div .border-right {
    border-right: none !important;
  }

  footer div .border-left {
    border-left: none !important;
  }
}

a:focus {
  outline: rgba(255, 255, 255, 0.212) solid 1.5px;
}

header {
  background-size: cover;
  height: 80vh;
}

.title {
  font-size: 1.25em;
  line-height: 0.75;
  text-shadow: 0px 0px 50px black, 0px 0px 30px black, 0px 0px 15px white;
}

.subtitle {
  font-size: 0.75em;
  opacity: 0.8;
  text-shadow: 0px 0px 50px black, 0px 0px 30px black, 0px 0px 15px white;
  line-height: 0.75;
}

a.download {
  text-decoration: none;
  color: white;
  font-size: 1.1em;
}

a.download img {
  width: 50px;
  margin: 10px;
}

a.download:hover {
  text-decoration: none;
  color: white;
  opacity: 0.8;
}

section#changelog {
  background: #000;
  padding: 5% 8%;
  color: white;
}

section#changelog details {
  max-width: 1024px;
  margin: auto;
}

section#changelog details :focus {
  outline: rgba(255, 255, 255, 0.212) solid 1.5px;
}

section#changelog details summary {
  text-align: center;
  font-size: 2rem;
}

section#com {
  background-image: url(/images/otherfoest.jpg?6af9ea60906607b4731164914cc29b45);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 15% 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 90px 100px 10px #000 inset, 0 -175px 140px -30px #000 inset;
          box-shadow: 0 90px 100px 10px #000 inset, 0 -175px 140px -30px #000 inset;
}

section#com div.error {
  background: rgba(255, 255, 255, 0.09);
  border-radius: 15px;
  color: #ffc6c6;
  margin: 30px 20px;
}

section#com div.error ul {
  padding: 10px 30px;
}

section#com div.error ul li {
  list-style-type: none;
}

section#com div.content {
  width: 100%;
  max-width: 900px;
  color: white;
}

section#com div.content p {
  padding-bottom: 4%;
}

section#com div.content div.com {
  width: 95%;
  max-width: 900px;
  padding: 10px 30px;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 15px;
  margin: 20px auto;
  color: white;
  text-shadow: 0px 0px 30px black;
}

section#com div.content div.com h3 {
  border-bottom: solid rgba(255, 255, 255, 0.8) 1.5px;
  padding: 5px;
  padding-right: 20px;
  display: table-cell;
}

section#com div.content div.com em {
  font-size: 0.75rem;
  color: #ffffffaf;
}

section#com form {
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: auto;
}

section#com form h2 {
  color: white;
  font-size: 1rem;
  margin: 2px;
}

section#com form textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  background: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: solid rgba(255, 255, 255, 0.7) 1.5px;
  color: white;
  font-family: sans-serif;
}

section#com form textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

section#com form textarea::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

section#com form textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

section#com form textarea:focus {
  outline: rgba(255, 255, 255, 0.212) solid 1.5px;
}

section#com form input:focus {
  outline: rgba(255, 255, 255, 0.212) solid 1.5px;
}

section#com form input {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1rem;
  color: white;
}

section#com form input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

section#com form input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

section#com form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

section#com form input[type="text"] {
  background: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: solid rgba(255, 255, 255, 0.7) 1.5px;
  width: 50%;
  min-width: 200px;
}

section#com form input[type="submit"] {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background: none;
  border: none;
  margin: 20px;
}

@media screen and (max-width: 767px) {
  nav.fixed-top {
    background: #111111;
    position: -webkit-sticky;
    position: sticky;
  }
}

